Repository Kopnu/manipulator4j-core, changes with the labels that .github/labeler.yml gives for each.
All labels: config, code, tests, documentation, TRASH

.github/labeler.yml:

config:
  - .github/*
  - .github/**/*
  - .gitignore
  - pom.xml

code:
  - '**/src/main/*'
  - '**/src/main/**/*'

tests:
  - '**/src/test/*'
  - '**/src/test/**/*'

documentation:
  - docs/*
  - docs/**/*

TRASH:
  - .idea/*
  - .idea/**/*
  - target/*
  - target/**/*

Рефакторинг пакетов
  manipulator4j-l10n/pom.xml
  manipulator4j/pom.xml
  manipulator4j/src/main/java/love/korni/manipulator/localization/DefaultLocalization.java
  manipulator4j/src/main/java/love/korni/manipulator/localization/Localization.java
  manipulator4j/src/main/java/love/korni/manipulator/localization/LocalizationSettings.java
  manipulator4j/src/main/java/love/korni/manipulator/localization/exception/NoSuchMessageException.java
  manipulator4j/src/main/java/love/korni/manipulator/localization/util/PropertyMultiResourceBundle.java
  manipulator4j/src/main/java/love/korni/manipulator/localization/util/ResourceBundleEnumeration.java
  pom.xml
Labels: config, code

Исправление получения гира подтипа Collection
  manipulator4j/src/main/java/love/korni/manipulator/core/caldron/GearFactory.java
  manipulator4j/src/main/java/love/korni/manipulator/core/caldron/GearFactoryUtils.java
Labels: code

Исправление получения списка гиров подтипа абстрактного класса
  manipulator4j/src/main/java/love/korni/manipulator/Manipulator.java
  manipulator4j/src/main/java/love/korni/manipulator/core/caldron/GearFactory.java
Labels: code

Исправление получения списка гиров подтипа абстрактного класса
  manipulator4j/src/main/java/love/korni/manipulator/core/caldron/GearFactory.java
  manipulator4j/src/main/java/love/korni/manipulator/util/ReflectionUtils.java
Labels: code

Исправление получения списка гиров когда они в кол-ве одной штуки
  manipulator4j/src/main/java/love/korni/manipulator/core/caldron/GearFactory.java
Labels: code

Добавил возможность получить шестерню по аргументам, используемым в конструкторе Добавил тесты Вынес создание метадаты в фабрику, чтобы не писать везде instanceof
  manipulator4j/pom.xml
  manipulator4j/src/main/java/love/korni/manipulator/core/caldron/ApplicationCaldron.java
  manipulator4j/src/main/java/love/korni/manipulator/core/caldron/Caldron.java
  manipulator4j/src/main/java/love/korni/manipulator/core/caldron/GearFactory.java
  manipulator4j/src/main/java/love/korni/manipulator/core/caldron/GearMetadataFactory.java
  manipulator4j/src/main/java/love/korni/manipulator/core/caldron/metadata/AbstractGearMetadata.java
  manipulator4j/src/main/java/love/korni/manipulator/core/caldron/metadata/ArrayGearMetadata.java
  manipulator4j/src/main/java/love/korni/manipulator/core/caldron/metadata/ClassGearMetadata.java
  manipulator4j/src/main/java/love/korni/manipulator/core/caldron/metadata/GearMetadata.java
  manipulator4j/src/main/java/love/korni/manipulator/core/caldron/metadata/GearType.java
  manipulator4j/src/main/java/love/korni/manipulator/core/caldron/metadata/MethodGearMetadata.java
  manipulator4j/src/main/java/love/korni/manipulator/core/exception/GearConstructionException.java
  manipulator4j/src/main/java/love/korni/manipulator/util/ReflectionUtils.java
  manipulator4j/src/test/java/love/korni/manipulator/AutoinjectTest.java
  manipulator4j/src/test/java/love/korni/manipulator/ManipulatorTest.java
  pom.xml
Labels: config, code, tests

Переименовал классы в пакете l10n
  manipulator4j/src/main/java/love/korni/manipulator/localization/DefaultMessageManager.java
  manipulator4j/src/main/java/love/korni/manipulator/localization/MessageManager.java
  manipulator4j/src/main/java/love/korni/manipulator/localization/PropertySettings.java
Labels: code

@Autoinject полей родительского класса в гир
  manipulator4j/src/main/java/love/korni/manipulator/util/ReflectionUtils.java
  manipulator4j/src/test/java/love/korni/manipulator/AutoinjectTest.java
Labels: code, tests

Добавил метод получения шестерни по имени
  manipulator4j/src/main/java/love/korni/manipulator/core/caldron/ApplicationCaldron.java
  manipulator4j/src/main/java/love/korni/manipulator/core/caldron/Caldron.java
  manipulator4j/src/main/java/love/korni/manipulator/core/caldron/GearFactory.java
  manipulator4j/src/main/java/love/korni/manipulator/core/caldron/metadata/AbstractGearMetadata.java
  manipulator4j/src/main/java/love/korni/manipulator/core/caldron/metadata/MethodGearMetadata.java
  manipulator4j/src/test/java/love/korni/manipulator/AutoinjectTest.java
Labels: code, tests

Добавил запуск раннеров
  manipulator4j/src/main/java/love/korni/manipulator/Manipulator.java
  manipulator4j/src/main/java/love/korni/manipulator/core/caldron/metadata/ClassGearMetadata.java
  manipulator4j/src/main/java/love/korni/manipulator/core/runner/Runner.java
  manipulator4j/src/main/java/love/korni/manipulator/util/ConstructionUtils.java
  manipulator4j/src/main/java/love/korni/manipulator/util/ReflectionUtils.java
  manipulator4j/src/test/java/love/korni/manipulator/CommandRunnerTest.java
Labels: code, tests

Добавил поддержку единственного конструктора, в который можно всё заавтовайрить
  manipulator4j/src/main/java/love/korni/manipulator/core/caldron/metadata/ClassGearMetadata.java
  manipulator4j/src/main/java/love/korni/manipulator/util/ReflectionUtils.java
  manipulator4j/src/test/java/love/korni/manipulator/AutoinjectTest.java
Labels: code, tests

Добавил поддержку единственного конструктора, в который можно всё заавтовайрить
  manipulator4j/src/test/java/love/korni/manipulator/AutoinjectTest.java
Labels: tests

Добавил поддержку логгирования
  manipulator4j/pom.xml
  manipulator4j/src/main/java/love/korni/manipulator/Manipulator.java
  manipulator4j/src/main/java/love/korni/manipulator/core/gear/file/FileManager.java
  manipulator4j/src/main/java/love/korni/manipulator/core/gear/file/ResourceFileManager.java
  manipulator4j/src/main/java/love/korni/manipulator/core/gear/file/exception/FileManagerException.java
  manipulator4j/src/main/java/love/korni/manipulator/logging/LoggerConfigurer.java
  manipulator4j/src/main/java/love/korni/manipulator/logging/appender/AppenderGetter.java
  manipulator4j/src/main/java/love/korni/manipulator/logging/appender/ConsoleAppenderGetter.java
  manipulator4j/src/main/java/love/korni/manipulator/logging/appender/FileAppenderGetter.java
  manipulator4j/src/main/java/love/korni/manipulator/logging/appender/QueueAppenderGetter.java
  manipulator4j/src/main/java/love/korni/manipulator/logging/exception/LoggerConfigurationException.java
  manipulator4j/src/main/resources/banner.txt
  manipulator4j/src/main/resources/base-manipulator.yml
  manipulator4j/src/test/java/love/korni/manipulator/AutoinjectTest.java
  manipulator4j/src/test/java/love/korni/manipulator/CommandRunnerTest.java
  pom.xml
Labels: config, code, tests

Шаблоны тасок для гитхаба
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: config

Рефакторинг
  manipulator4j/src/main/java/love/korni/manipulator/Manipulator.java
Labels: code

Добавил поддержку профилей
  manipulator4j/pom.xml
  manipulator4j/src/main/java/love/korni/manipulator/core/annotation/Gear.java
  manipulator4j/src/main/java/love/korni/manipulator/core/caldron/GearFactory.java
  manipulator4j/src/main/java/love/korni/manipulator/core/caldron/metadata/AbstractGearMetadata.java
  manipulator4j/src/main/java/love/korni/manipulator/core/caldron/metadata/GearMetadata.java
  manipulator4j/src/main/java/love/korni/manipulator/core/caldron/metadata/GearScope.java
  manipulator4j/src/main/java/love/korni/manipulator/core/gear/args/ArgsGear.java
  manipulator4j/src/main/java/love/korni/manipulator/core/gear/args/CommandLineArgs.java
  manipulator4j/src/main/java/love/korni/manipulator/core/gear/args/DefaultArgsGear.java
  manipulator4j/src/main/java/love/korni/manipulator/core/gear/args/SimpleCommandLineArgsParser.java
  manipulator4j/src/test/java/love/korni/manipulator/AutoinjectTest.java
  pom.xml
Labels: config, code, tests

Update release-drafter.yml
  .github/release-drafter.yml
Labels: config

Механизм парсинга конфигов
  manipulator4j-test/pom.xml
  manipulator4j/src/main/java/love/korni/manipulator/Manipulator.java
  manipulator4j/src/main/java/love/korni/manipulator/core/annotation/AfterConstruct.java
  manipulator4j/src/main/java/love/korni/manipulator/core/caldron/metadata/ClassGearMetadata.java
  manipulator4j/src/main/java/love/korni/manipulator/core/gear/file/FileManager.java
  manipulator4j/src/main/java/love/korni/manipulator/core/gear/file/ResourceFileManager.java
  manipulator4j/src/main/java/love/korni/manipulator/logging/LoggerConfigurer.java
  manipulator4j/src/main/java/love/korni/manipulator/property/ConfigManager.java
  manipulator4j/src/main/java/love/korni/manipulator/property/DefaultConfigManager.java
  manipulator4j/src/main/java/love/korni/manipulator/property/PropertyConfigHolder.java
  manipulator4j/src/main/java/love/korni/manipulator/property/PropertyConfigSourceReader.java
  manipulator4j/src/main/java/love/korni/manipulator/util/ReflectionUtils.java
  manipulator4j/src/main/resources/base-manipulator.yml
  pom.xml
Labels: config, code

Механизм парсинга конфигов
  manipulator4j/src/main/java/love/korni/manipulator/core/gear/file/FileManager.java
  manipulator4j/src/main/java/love/korni/manipulator/core/gear/file/ResourceFileManager.java
  manipulator4j/src/main/java/love/korni/manipulator/property/DefaultConfigManager.java
  manipulator4j/src/main/java/love/korni/manipulator/property/PropertyConfigHolder.java
  manipulator4j/src/main/java/love/korni/manipulator/property/PropertyConfigSourceReader.java
Labels: code

Допилил механизм парсинга конфигов
  manipulator4j/src/main/java/love/korni/manipulator/Manipulator.java
  manipulator4j/src/main/java/love/korni/manipulator/core/caldron/GearFactory.java
  manipulator4j/src/main/java/love/korni/manipulator/core/gear/file/FileManager.java
  manipulator4j/src/main/java/love/korni/manipulator/core/gear/file/ResourceFileManager.java
  manipulator4j/src/main/java/love/korni/manipulator/property/ConfigManager.java
  manipulator4j/src/main/java/love/korni/manipulator/property/DefaultConfigManager.java
  manipulator4j/src/main/java/love/korni/manipulator/property/PropertyConfigHolder.java
  manipulator4j/src/main/java/love/korni/manipulator/property/PropertyConfigReader.java
  manipulator4j/src/main/java/love/korni/manipulator/property/PropertyConfigSourceReader.java
  manipulator4j/src/test/java/love/korni/manipulator/AutoinjectTest.java
  manipulator4j/src/test/resources/manipulator.yml
Labels: code, tests

Выключил логгирование в файл
  manipulator4j/src/main/java/love/korni/manipulator/logging/LoggerConfigurer.java
  manipulator4j/src/main/resources/base-manipulator.yml
Labels: code

Возможность считывания файлов с файловой системы
  manipulator4j/src/main/java/love/korni/manipulator/Manipulator.java
  manipulator4j/src/main/java/love/korni/manipulator/core/gear/file/ResourceFileManager.java
  manipulator4j/src/main/java/love/korni/manipulator/core/gear/file/reader/ClasspathReader.java
  manipulator4j/src/main/java/love/korni/manipulator/core/gear/file/reader/FileReader.java
  manipulator4j/src/main/java/love/korni/manipulator/core/gear/file/reader/FilesystemReader.java
  manipulator4j/src/main/java/love/korni/manipulator/property/PropertyConfigReader.java
Labels: code

Update README.md
  README.md
Labels: none

Запилил primary для гиров
  manipulator4j/src/main/java/love/korni/manipulator/Manipulator.java
  manipulator4j/src/main/java/love/korni/manipulator/core/annotation/Gear.java
  manipulator4j/src/main/java/love/korni/manipulator/core/caldron/GearFactory.java
  manipulator4j/src/main/java/love/korni/manipulator/core/caldron/GearFactoryUtils.java
  manipulator4j/src/main/java/love/korni/manipulator/core/caldron/metadata/AbstractGearMetadata.java
  manipulator4j/src/main/java/love/korni/manipulator/core/caldron/metadata/ClassGearMetadata.java
  manipulator4j/src/main/java/love/korni/manipulator/core/caldron/metadata/GearMetadata.java
  manipulator4j/src/main/java/love/korni/manipulator/core/gear/file/ResourceFileManager.java
  manipulator4j/src/main/java/love/korni/manipulator/util/ReflectionUtils.java
  manipulator4j/src/test/java/love/korni/manipulator/AutoinjectTest.java
Labels: code, tests

Запилил life-cycle для гиров
  manipulator4j/src/main/java/love/korni/manipulator/core/caldron/GearFactory.java
  manipulator4j/src/main/java/love/korni/manipulator/core/caldron/GearFactoryUtils.java
  manipulator4j/src/main/java/love/korni/manipulator/core/caldron/GearMetadataFactory.java
  manipulator4j/src/main/java/love/korni/manipulator/core/caldron/ToGearFactoryConstructAdapter.java
  manipulator4j/src/main/java/love/korni/manipulator/core/caldron/metadata/AbstractGearMetadata.java
  manipulator4j/src/main/java/love/korni/manipulator/core/caldron/metadata/ArrayGearMetadata.java
  manipulator4j/src/main/java/love/korni/manipulator/core/caldron/metadata/ClassGearMetadata.java
  manipulator4j/src/main/java/love/korni/manipulator/core/caldron/metadata/GearMetadata.java
  manipulator4j/src/main/java/love/korni/manipulator/core/caldron/metadata/MethodGearMetadata.java
  manipulator4j/src/main/java/love/korni/manipulator/core/caldron/metadata/factory/AbstractGearMetadataFactory.java
  manipulator4j/src/main/java/love/korni/manipulator/core/caldron/metadata/factory/ArrayGearMetadataFactory.java
  manipulator4j/src/main/java/love/korni/manipulator/core/caldron/metadata/factory/ClassGearMetadataFactory.java
  manipulator4j/src/main/java/love/korni/manipulator/core/caldron/metadata/factory/GearMetadataFactory.java
  manipulator4j/src/main/java/love/korni/manipulator/core/caldron/metadata/factory/MethodGearMetadataFactory.java
  manipulator4j/src/main/java/love/korni/manipulator/util/ReflectionUtils.java
  manipulator4j/src/test/java/love/korni/manipulator/AutoinjectTest.java
Labels: code, tests

0.0.3
  manipulator4j-test/pom.xml
  manipulator4j/pom.xml
  manipulator4j/src/test/java/love/korni/manipulator/AutoinjectTest.java
  pom.xml
Labels: config, tests

Добавил аннотацию Specify / аналог Qualifier у спринга
  manipulator4j/src/main/java/love/korni/manipulator/core/annotation/Specify.java
  manipulator4j/src/main/java/love/korni/manipulator/core/caldron/metadata/AbstractGearMetadata.java
  manipulator4j/src/main/java/love/korni/manipulator/core/caldron/metadata/factory/ClassGearMetadataFactory.java
Labels: code

Фикс NPE when additionalAppendersNode is null
  manipulator4j/src/main/java/love/korni/manipulator/logging/LoggerConfigurer.java
Labels: code

Сделал умнее алгоритм Autoinject по имени. Теперь можно с одинаковым именем разные типы иметь.
  manipulator4j/src/main/java/love/korni/manipulator/core/caldron/GearFactory.java
  manipulator4j/src/main/java/love/korni/manipulator/core/caldron/GearFactoryUtils.java
  manipulator4j/src/main/java/love/korni/manipulator/core/caldron/metadata/AbstractGearMetadata.java
  manipulator4j/src/test/java/love/korni/manipulator/AutoinjectTest.java
Labels: code, tests

Поддержка close методов
  manipulator4j/src/main/java/love/korni/manipulator/Manipulator.java
  manipulator4j/src/main/java/love/korni/manipulator/core/annotation/PreDestroy.java
  manipulator4j/src/main/java/love/korni/manipulator/core/caldron/ApplicationCaldron.java
  manipulator4j/src/main/java/love/korni/manipulator/core/caldron/Caldron.java
  manipulator4j/src/main/java/love/korni/manipulator/core/caldron/GearFactory.java
Labels: code

Минус логгер
  manipulator4j/src/main/java/love/korni/manipulator/Manipulator.java
  manipulator4j/src/main/java/love/korni/manipulator/logging/LoggerConfigurer.java
  manipulator4j/src/main/java/love/korni/manipulator/logging/appender/AppenderGetter.java
  manipulator4j/src/main/java/love/korni/manipulator/logging/appender/ConsoleAppenderGetter.java
  manipulator4j/src/main/java/love/korni/manipulator/logging/appender/FileAppenderGetter.java
  manipulator4j/src/main/java/love/korni/manipulator/logging/appender/QueueAppenderGetter.java
  manipulator4j/src/main/java/love/korni/manipulator/logging/exception/LoggerConfigurationException.java
  manipulator4j/src/main/java/love/korni/manipulator/message/DefaultMessageManager.java
  manipulator4j/src/main/java/love/korni/manipulator/message/MessageManager.java
  manipulator4j/src/main/java/love/korni/manipulator/message/PropertySettings.java
  manipulator4j/src/main/java/love/korni/manipulator/message/exception/NoSuchMessageException.java
  manipulator4j/src/main/java/love/korni/manipulator/message/util/PropertyMultiResourceBundle.java
  manipulator4j/src/main/java/love/korni/manipulator/message/util/ResourceBundleEnumeration.java
  manipulator4j/src/main/resources/base-manipulator.yml
Labels: code
